.main {width: 98%; margin-left:auto; margin-right:auto; min-width: 600px}
article { border: 1px dashed grey; width: 80%; padding:5px; padding-top:0px; margin-bottom:5px;text-align: justify;}
aside {float:right; width: 20%;}
nav ul {list-style: none;}
nav a {text-decoration: none;}
.buttons { margin-left:20px }